@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap");
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #333;
  scrollbar-width: thin;
  scrollbar-color: #bebeff rgba(0, 0, 0, 0.7);
  overflow-z: hidden;
}

body {
  width: calc(200% - 100vw);
  margin-left: calc(100vw - 100%);
}

.info-screen .info-screen-content *{
  font-family: "Red Hat Display", sans-serif;
}

.info-screen svg {
  margin: auto;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animation {
  0%,
  100% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 880;
  }
}

@keyframes animation {
  0%,
  100% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 880;
  }
}

#jsonly,
#error-screen,
#main-content {
  display: none;
}
